/*
{{#theme_name}}
Theme Name: {{theme_name}}
{{/theme_name}}
{{#theme_uri}}
Theme URI: {{theme_uri}}
{{/theme_uri}}
{{#theme_author}}
Author: {{theme_author}}
{{/theme_author}}
{{#author_uri}}
Author URI: {{author_uri}}
{{/author_uri}}
{{#theme_description}}
Description: {{theme_description}}
{{/theme_description}}
{{#theme_version}}
Version: {{theme_version}}
{{/theme_version}}
{{#license}}
License: {{license}}
{{/license}}
{{#license_uri}}
License URI: {{license_uri}}
{{/license_uri}}
{{#text_domain}}
Text Domain: {{text_domain}}
{{/text_domain}}
{{#tags}}
Tags: {{tags}}
{{/tags}}

Use it to make something cool, have fun, and share what you've learned with others.
*/
